* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.navList {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo img {
    width: 45%;
    border: 1px solid white;
    border-radius: 50px;
}

.navList li {
    list-style: none;
    padding: 31px 37px;
    cursor: pointer;
}

.navList li a {
    text-decoration: none;
    color: white;
}

.navList li a:hover {
    text-decoration: none;
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: right;
    padding: 0px 38px
}

#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    max-width: 65%;
    margin: auto;
    height: 70%;
}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf {
    width: 20%;
}

.secondhalf img {
    width: 100%;
    border: 2px solid white;
    border-radius: 121px;

}

.text-big {
    font-size: 42px;
}

.l {
    display: inline-block;
    font-size: 42px;
    transition: all infinite ease-out;
}

.l:hover {
    color: aqua;
    font-size: 45px;
}

.text-small {
    font-size: 25px;
}

.f {
    display: inline-block;
    font-size: 25px;
    transition: all infinite ease-out;

}

.f:hover {
    color: aqua;
    font-size: 30px;
}

.btn {
    padding: 2px 17px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 7px;
}

.section {
    display: flex;
    flex-direction: row;
    height: 30%;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 30px 0;
    margin-left: 75px;

}

.secleft {
    flex-direction: row-reverse
}

.paras {
    padding: 100px 50px;

}


.thumbnail {
    width: 20%;

}

.img1 {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 36px;
}

.contact {
    background-color: rgb(249, 238, 230);
    height: 100%;
}

.contactus {
    text-align: center;
    margin: 0px 50px;
    padding: 10px;
    font-size: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 0px;
}

.name {
    padding: 12px 2px;
    height: 50px;
}

#fname {
    height: 10px;
    width: 151px;
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 5px;
}

#lname {
    height: 10px;
    width: 151px;
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5px;
}

#email {
    height: 10px;
    width: 213px;
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 25px;
}

#message {
    height: 107px;
    width: 329px;
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 10px;
}

#message {
    height: 107px;
    width: 329px;
    padding: 10px 9px;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-s {
    color: white;
    border: 1px solid purple;
    border-radius: 4px;
    background-color: purple;
    width: 184px;
    height: 33px;
    margin-top: 10px;
}

.btn:hover {
    border-color: aqua;
}

.foot {
    text-align: center;
    color: white;
    background-color: grey;
    height: 30px;
    padding-top: 5px;
}

.burger {
    position: absolute;
    top: 16px;
    right: 15%;
    cursor: pointer;
    display: none;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px;
}

@media only screen and (max-width:1140px) {

    .navList {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        height: 447px;
        transition: all 0.7s ease-in-out;
    }

    .logo {
        width: 35%;
    }

    .rightnav {
        text-align: center;
    }

    #search {
        width: 97%;
    }

    .burger {
        display: block;
    }

    .burger.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(46deg);
    }

    .burger.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-46deg);
    }

    .h-nav-resp {
        height: 72px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .section {
        flex-direction: column-reverse;
        width: 90%;
        margin: 0px 20px;
    }



    .img1 {
        margin: 0px 0px;
    }

    .box-main {
        max-width: 100%;
    }

    .firsthalf {
        width: 58%;
    }

    .thumbnail {
        padding-right: 50%;
        padding-left: 20%;
    }
}
